body {
  background: #fff;
  color: #3c4151;
  font-family: "Gotham Pro", Arial, serif;
}

.logo {
  height: 62px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 26px;
}
.download {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.download a {
  color: #3c4151;
  text-decoration: none;
}

.download a:hover {
  color: #1d62b4;
}

#launch {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 96px 0 64px 0;
  border: 1px;
  border-radius: 25px;
  color: #fff;
  display: block;
  padding: 13px 26px;
  height: 44px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "Euclid Square", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
  background-color: #10c2ed;
}

#launch:focus,
#launch:hover {
  background-color: #fff;
  border: 1px solid #10c2ed;
  color: #10c2ed;
}

#launch:active {
  background-color: #fff;
  color: #10c2ed;
}

#raw_output {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 64px;
  margin: 32px 0;
  border: 1px solid #c1c6d1;
  border-radius: 4px;
  font-family: "Courier New", monospace;
  background-color: #31383d;
  color: #fff;
  height: 300px;
}
